<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <div class = "container">
        <h1>Add an Employee</h1>
        <form action="/add_emp" method="post">
              {% csrf_token %}
              <label for="first_name">First Name</label><br>
              <input type="text" id="first_name" name="first_name" value="{{first_name}}"><br>

              <label for="last_name">Last Name</label><br>
              <input type="text" id="last_name" name="last_name" value="{{last_name}}"><br>

              <label for="phone">Phone Number</label><br>
              <input type="number" id="phone" name="phone" value="{{phone}}"><br>

              <label for="salary">Salary</label><br>
              <input type="number" id="number" name="salary" value="{{salary}}"><br>

              <label for="bonus">Bonus</label><br>
              <input type="number" id="bonus" name="bonus" value="{{bonus}}"><br>

              <label for="dept">Department</label><br>
              <input type="number" id="dept" name="dept" value="{{dept}}"><br>

              <label for="role">Role</label><br>
              <input type="number" id="role" name="role" value="{{role}}"><br>

              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</body>
</html>