<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <div class = "container">
        <h1>All Employee Details</h1>
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Salary</th>
            <th scope="col">Bonus</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Role</th>
            <th scope="col">Department</th>
            <th scope="col">Location</th>
            <th scope="col">Hire Date</th>
          </tr>
        </thead>
                {% for emp in emps %}
        <tbody>
          <tr>
            <th scope="row">{{emp.id}}</th>
            <td>{{emp.first_name}}</td>
            <td>{{emp.last_name}}</td>
            <td>{{emp.salary}}</td>
            <td>{{emp.bonus}}</td>
            <td>{{emp.phone}}</td>
            <td>{{emp.role.name}}</td>
            <td>{{emp.dept.name}}</td>
            <td>{{emp.dept.location}}</td>
            <td>{{emp.hiredate}}</td>
          </tr>
        </tbody>
              {% endfor %}
      </table>
      </div>
</body>
</html>